.summary-section {
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 30%;
    margin-left: 0rem;
}

.individual-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 20px;
}