.ServiceDeskPage{
    margin-top: 7rem;
    display: flex;
    flex-direction : column;
    justify-items: center;
    width: 100%;
}
.Servive-desk-title{
    text-align: center;
    margin : 0;
}
.Faqs-section{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2rem;
}
.faqs-individual{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 6rem;
    background-color: rgb(61, 60, 60);
    overflow-y: scroll;
    color : white;
    padding : 10px;
}
.portals-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-desk-button{
    margin-top : 1rem;
    height: 3rem;
    width: 15rem;
}

::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}